@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url("https://picsum.photos/1920/1080");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    
}

h1{
    font-size: 50px;
}

.container{
   
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.686);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 50px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px;
    transition-duration: .2s ease-in-out;
    cursor: pointer;
}

.botoes{
    margin:30px;
    display: flex;
    gap: 40px;
}

button:hover{
    opacity: 0.9;
    
}
#pedra{
    background-color: rgb(152, 152, 152);
}
#tesoura{
    background-color: rgba(139, 0, 0, 0.81);
}
 p{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
 }
    
 .minha-pontuacao span{

    color: rgba(0, 134, 192, 0.877);
 }
 
 .pontuacao-pc span{
    color: rgb(255, 0, 0);
 }

